/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('img/mapa.PNG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Galería */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
}

.photo {
    position: relative;
    width: 100%;
    max-width: 300px; /* Ajuste para pantallas más grandes */
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #00796b; /* Verde */
}

.photo img {
    width: 100%;
    height: auto; /* Mantener la proporción de la imagen */
    object-fit: cover;
    transition: transform 0.3s;
}

.photo:hover img {
    transform: scale(1.1);
}

/* Superposición para frases */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.phrase-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    text-align: center;
    border: 2px solid #00796b; /* Verde */
}

.phrase-box p {
    margin: 0;
    color: #00796b; /* Verde oscuro */
    font-size: 18px;
}
/* Placess */
.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f3e5ab; /* Color pergamino */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra más fuerte para un efecto más dramático */
    border: 1px solid #8b4513; /* Bordes marrones para un efecto de madera */
    background-image: url('ruta/a/tu/imagen-de-fondo.jpg'); /* Imagen de fondo como madera o pergamino */
    background-size: cover;
    background-blend-mode: multiply; /* Mezcla de fondo para hacer la textura más sutil */
}

h1 {
    color: #8b4513; /* Marrón oscuro */
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Pirata One', cursive; /* Fuente estilo pirata */
    text-shadow: 2px 2px 0 #000; /* Sombra de texto para destacar el título */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #8b4513; /* Bordes marrones */
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    background-color: #f3e5ab; /* Fondo pergamino */
    color: #3e2723; /* Texto marrón oscuro */
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #8b4513; /* Marrón oscuro */
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Pirata One', cursive; /* Fuente estilo pirata */
}

button:hover {
    background-color: #5d4037; /* Marrón aún más oscuro */
}

#places-list {
    margin-top: 20px;
}

.place-item {
    background-color: #f3e5ab; /* Fondo pergamino */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #8b4513; /* Bordes marrones */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.place-item h3 {
    margin: 0;
    color: #8b4513; /* Marrón oscuro */
    font-family: 'Pirata One', cursive; /* Fuente estilo pirata */
    text-shadow: 1px 1px 0 #000; /* Sombra de texto */
}

.place-item p {
    margin: 5px 0 0;
    color: #3e2723; /* Texto marrón oscuro */
    font-family: 'Garamond', serif; /* Fuente serif para un estilo clásico */
}

/*menu*/
.floating-menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1000;
}

.menu-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 70px;
    right: 0;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    animation: fadeIn 0.3s;
}

.menu-items a {
    padding: 10px;
    color: #00796b; /* Verde */
    text-decoration: none;
    display: block;
    text-align: center;
}

.menu-items a:hover {
    background-color: #e0f7fa; /* Azul claro */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


/*letter*/
.letter-content {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #333;
    max-width: 600px;
    margin: 0 auto;
}

.letter-content p {
    margin: 20px 0;
}

.letter-content p:first-of-type {
    margin-top: 0;
}

.letter-content p:last-of-type {
    text-align: right;
    margin-bottom: 0;
}
